---
import ArticleLayout from '../components/ArticleLayout.astro';
---

<ArticleLayout title="Another Page">
	<p>
		This is a different page, used to demonstrate the general (non-home)
		layout.
	</p>
</ArticleLayout>
