---
import ArticleLayout from '../components/ArticleLayout.astro';

const siteInfo = { lang: 'en', siteName: 'Grayspace Demo' };
---

<ArticleLayout title="Another Page" siteInfo={siteInfo}>
	<p>
		This is a different page, used to demonstrate the general (non-home)
		layout.
	</p>
</ArticleLayout>
