---
import GeneralLayout from '../layouts/GeneralLayout.astro';
---

<GeneralLayout title="Custom Page">
	<p>
		This is a page used to demonstrate a more generic layout with fewer
		features, intended for pages that require more customization.
	</p>
</GeneralLayout>
