---
import HomeLayout from '../components/HomeLayout.astro';

const siteInfo = { lang: 'en', siteName: 'Grayspace Demo' };
---

<HomeLayout siteInfo={siteInfo}>
	<p>
		Grayspace is a set of theme components for <a
			href="https://astro.build/">Astro</a
		>, originally designed for the website of the <a
			href="https://www.halfgray.xyz/">Half-Gray Association</a
		>.
	</p>
</HomeLayout>
