---
import HomeLayout from '../components/HomeLayout.astro';
---

<HomeLayout lang="en" siteName="Grayspace Demo">
	<p>
		Grayspace is a set of theme components for <a
			href="https://astro.build/">Astro</a
		>, originally designed for the website of the <a
			href="https://www.halfgray.xyz/">Half-Gray Association</a
		>.
	</p>
</HomeLayout>
