---
import HomeLayout from '../layouts/HomeLayout.astro';
---

<HomeLayout>
	<p>
		Grayspace is a theme integration for <a href="https://astro.build/"
			>Astro</a
		>, originally designed for the website of the <a
			href="https://www.halfgray.xyz/">Half-Gray Association</a
		>.
	</p>
</HomeLayout>
