---
import GeneralLayout from './GeneralLayout.astro';
import { type SiteInfo } from '../site-info';

interface Props {
	title: string;
	siteInfo: SiteInfo;
}

const { title, siteInfo } = Astro.props;
---

<GeneralLayout title={title} siteInfo={siteInfo}>
	<slot slot="head" name="head" />
	<slot slot="header" name="header" />
	<article>
		<h1>{title}</h1>
		<slot />
	</article>
	<slot slot="footer" name="footer" />
</GeneralLayout>
