---
import GeneralLayout from './GeneralLayout.astro';
import { type SiteInfo } from '../site-info';

interface Props {
	title: string;
	siteInfo: SiteInfo;
}

const { title, siteInfo } = Astro.props;
---

<GeneralLayout title={title} siteInfo={siteInfo}>
	<Fragment slot="head">
		<slot name="head" />
	</Fragment>
	<Fragment slot="header">
		<slot name="header" />
	</Fragment>
	<article>
		<h1>{title}</h1>
		<slot />
	</article>
	<Fragment slot="footer">
		<slot name="footer" />
	</Fragment>
</GeneralLayout>
