---
import SkipToMain from '../components/SkipToMain.astro';

interface Props {
	lang?: string;
	favicon?: string;
	title: string;
	skipToMainText: string;
}

const { lang, favicon, title, skipToMainText } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{favicon ? <link rel="icon" href={favicon} /> : null}
		<title>{title}</title>
		<slot name="head" />
	</head>
	<body>
		<header>
			<SkipToMain text={skipToMainText} />
			<slot name="header" />
		</header>
		<main id="main">
			<slot />
		</main>
		<footer>
			<slot name="footer" />
		</footer>
	</body>
</html>

<style>
	body {
		margin: 0em auto;
		padding: 0.75em;
		max-width: 50em;
		font-family: sans-serif;
		line-height: 1.5;
	}
	* :global(h1),
	* :global(h2),
	* :global(h3),
	* :global(h4),
	* :global(h5),
	* :global(h6) {
		font-weight: bold;
	}
	* :global(h1) {
		font-size: 2em;
		margin: 0.75em 0em 0.375em;
	}
	* :global(h2) {
		font-size: 1.5em;
		margin: 1em 0em 0.5em;
	}
	* :global(h3) {
		font-size: 1.25em;
		margin: 1.2em 0em 0.6em;
	}
	* :global(h4) {
		font-size: 1em;
		margin: 1.5em 0em 0.75em;
	}
	* :global(h5) {
		font-size: 0.75em;
		margin: 2em 0em 1em;
	}
	* :global(h6) {
		font-size: 0.625em;
		margin: 2.4em 0em 1.2em;
	}
	* :global(p),
	* :global(ul),
	* :global(ol) {
		margin: 0.75em 0em;
	}
	* :global(a) {
		text-decoration: none;
	}
	* :global(a):hover,
	* :global(a):focus {
		text-decoration: underline;
	}
	@media print {
		body {
			margin: 0em;
			padding: 0em;
		}
	}
</style>
