---
import SiteId from './SiteId.astro';

interface Props {
	siteName: string;
	siteLogo?: string;
	homeLink: string;
}

const { siteName, siteLogo, homeLink } = Astro.props;
---

<div class="general-header">
	<SiteId name={siteName} logo={siteLogo} link={homeLink} />
	<slot />
</div>

<style>
	.general-header {
		border-bottom: thin solid;
	}
</style>
