---
interface Props {
	name: string;
	logo?: string;
	link: string;
}

const { name, logo, link } = Astro.props;
---

<div class="site-id">
	<a href={link}>
		{
			logo ? (
				<span class="site-logo">
					<img src={logo} alt="" />
				</span>
			) : null
			/* Wrap name element to prevent whitespace between elements */
		}{(<span>{name}</span>)}
	</a>
</div>

<style>
	.site-id {
		text-align: center;
		font-size: 2em;
		font-weight: bold;
	}
	.site-id a {
		color: inherit;
	}
	.site-id a:hover,
	.site-id a:focus {
		text-decoration: none;
	}
	.site-id span {
		display: inline-block;
		vertical-align: middle;
		margin: 0.375em;
	}
	.site-logo {
		height: 1.5em;
	}
	.site-logo img {
		height: 100%;
	}
	@media (max-width: 40em), print {
		.site-id {
			font-size: 1.5em;
		}
		.site-id span {
			margin: 0.25em;
		}
	}
</style>
