---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<a href="#main" class="skip-to-main">{text}</a>

<style>
	.skip-to-main {
		position: absolute;
		border: 0.25em solid black;
		padding: 0.5em;
		background-color: white;
		color: black;
		z-index: 100;
		top: -100em;
	}
	.skip-to-main:focus {
		top: auto;
		text-decoration: none;
	}
</style>
