---
import GeneralLayout from './GeneralLayout.astro';

interface Props {
	title?: string;
	frontmatter?: Record<string, string>;
}

const { title, frontmatter } = Astro.props;
---

<GeneralLayout title={title} frontmatter={frontmatter}>
	<slot slot="head" name="head" />
	<slot slot="header" name="header" />
	<article>
		<h1>{title}</h1>
		<slot />
	</article>
	<slot slot="footer" name="footer" />
</GeneralLayout>
