---
import GeneralLayout from './GeneralLayout.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<GeneralLayout title={title}>
	<slot slot="head" name="head" />
	<slot slot="header" name="header" />
	<article>
		<h1>{title}</h1>
		<slot />
	</article>
	<slot slot="footer" name="footer" />
</GeneralLayout>
